
*.ipch
*.db
C++Projects/Bomb Dodger/.vs/Bomb Dodger/v16/.suo
*.obj
*.log
*.recipe
*.pch
*.lastbuildstate
*.tlog
*.res
*.txt
*.idb
*.pdb
*.exe
*.exe
*.ilk
*.pdb
C++Projects/Conway'sGame/.vs/Conway'sGame/v16/.suo
C++Projects/Conway'sGame/.vs/Conway'sGame/v16/Browse.VC.db-shm
C++Projects/Conway'sGame/.vs/Conway'sGame/v16/Browse.VC.db-wal
C++Projects/Conway'sGame/.vs/Conway'sGame/v16/Browse.VC.opendb
C++Projects/Conway'sGame/.vs/Conway'sGame/v16/.suo
C++Projects/Conway'sGame/.vs/Conway'sGame/v16/.suo
C++Projects/Conway'sGame/.vs/Conway'sGame/v16/.suo
C++Projects/Spike Dodger/.vs/Spike Dodger/v16/.suo
